img {
   width: 100px;
   height: 100px;
   object-fit: contain;
}
.drop{
   border: 2px solid grey;
   padding:20px;
   width: 300px;
   background: rgba(8, 3, 67, 0.732);

 }
 .drop input {
   border: none;
   outline: none;
   border-bottom: 1px solid grey;
   background: transparent;
 }
 .list {
   color: white;
   display: flex;
   flex-direction: column;
   text-align: center;
   gap: 20px;
   margin-top: 20px;
 }
 .list div {
   border: 1px solid white;
 }
 .high {
  color:red;
 }